body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}



input[type="text"] {
  width: 300px;
  padding: 5px;
  font-size: 16px;
}

button[type="submit"], button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover, button:hover {
  background-color: #45a049;
}

table {
  width: 60%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}
