body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.nav {
  padding: 10px 25px;
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px #000 solid;
  gap: 10px;
}

.nav > span {
  font-size: larger;
  font-weight: bold;
}

.nav div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav div a {
  text-decoration: none;
}

.nav div span {
  cursor: pointer;
  padding: 0 20px;
  border-right: 1px solid #000;
  text-decoration: none;
}

.nav div .contact-info {
  border-right: 0 solid #000;
}

.nav div span:active,
.nav div span:focus {
  color: blueviolet;
}

.date {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

hr {
  margin-top: 20px;
  width: 7%;
}

.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.book-list .container {
  border: 2px solid #000;
  width: 100%;
}

.book-list .book-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
}

.book-item:nth-child(odd) {
  background: #efefef;
}

.book-list .book-item .book-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add_new-book {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .add-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.form .error {
  color: red;
  font-size: 10px;
  text-align: center;
}

.form .success {
  color: rgb(3, 170, 3);
  font-size: 12px;
  text-align: center;
}

.form button {
  width: 40px;
  align-self: flex-end;
}

.contact {
  display: flex;
  flex-direction: column;
}

.copy-right {
  margin-top: 20px;
  width: 97%;
  border: 1px solid #474646;
  padding: 20px;
  position: sticky;
  bottom: 0;
}

.non-display {
  display: none;
}

.display {
  display: flex;
}

.color {
  color: blue;
}
